@media only screen and (max-width: 600px) {
  body {
    text-align: center; }
  img {
    width: 100%;
    height: auto; }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center; }
  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; } }

@media (min-width: 600px) {
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center; }
  li a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .cards {
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center; }
  .card {
    margin: 20px;
    padding: 20px; }
  img {
    width: 25%;
    height: auto;
    float: left; }
  aside, section {
    float: left; } }
